@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
/*font-family: 'Poppins', sans-serif;*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    margin: 0 auto;
}


.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
    padding-left: 46px;
    gap: 1100px;
}

.cabecalhoMenu{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    display: flex;
    gap: 74px;
}

.conteudo{
    display: flex;
    flex-direction: column;

}

.conteudoPrincipal {
    position: relative;
    width: 100%;
    min-width: 50vh;
    padding: 63px;
    background: #F1CB30;
    display: flex;
    top: 9px;
}
.conteudoPrincipalImagem{
    height: 400px;
    padding-left: 65%;
}
  
.conteudoPrincipalEscrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 0px;
    padding-left: 243px;
}

.conteudoPrincipalEscritoTitulo{
    width: 577px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 88px;
    color: #1F1E21;
}

.conteudoPrincipalEscritoSubtitulo{
    width: 533px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    display: flex;
}

.conteudoPrincipalEscritoBotao{

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background: #F0C82D;
    border: 1px solid #1F1E21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    width: 177px;
    height: 47px;

}

.conteudoPrincipalEscritoBotao:hover {
    background-color: #eec41b;
}

.conhecaUtfpr{
    display: flex;
    flex-direction: column;
    gap: 96px;
    align-items: center;
}

.conhecaUtfprEscrito{
    top: 627px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.conhecaUtfprEscritoTitulo{
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1F1E21;
    
}

.conhecaUtfprEscritoSubtitulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 48px;
    width: 649px;
    text-align: center;
    color: #363636;
    border-top: 4px solid #F0C82D;
}
 .conheçaUtfprGaleriaImagens{
    padding: 45px;
 }

.conteudoConhecaUtfprVideo{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.conteudoConhecaUtfprVideoTitulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 95px;
    width: 408px;
    text-align: center;
    font-size: 26.0426px;
}



